'scopeName': 'text.bugzilla-number'
'name': 'Bugzilla'
'injectionSelector': 'comment, text'
'patterns': [
  {
    # see https://en.opensuse.org/openSUSE:Packaging_Patches_guidelines#Current_set_of_abbreviations
    'match': '\\b(' +
      'boo|pr|boost|ceph|claws|rt|deb|beo|fate|fdo|gnu|GCC|' +
      'bgo|gvz|io|jenk|kde|bko|lp|lf|MeeGo|Mono|bmo|bnc|ITS|i|n|' +
      'os-edu|pidgin.im|rh|bso|sf|swo|t3|webkit|Ximian|bxo|bxc|' +
      # allow some upper case variants
      'BNC|BSC|FATE|' +
      # generic bug number
      'bug|BUG' +
      ')\\s*(#|)(\\d+)\\b'
    'name': 'storage.type.class.bugzilla-number'
  }
  # handle special cases
  {
    # gh#repo#number (e.g. gh#yast/core#123)
    'captures':
      '1':
        'name': 'gh-repo'
      '2':
        'name': 'gh-issue'
    'match': '\\bgh#(\\S+)#(\\d+)\\b'
    'name': 'storage.type.class.gh-number'
  }
  {
    # CVE-year-number (e.g. CVE-2015-1234)
    # see https://cve.mitre.org/cve/identifiers/syntaxchange.html#new
    'captures':
      '1':
        'name': 'cve-year'
      '2':
        'name': 'cve-number'
    'match': '\\bCVE-(\\d{4})-(\\d{4,})\\b'
    'name': 'storage.type.class.cve-number'
  }
]
